@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Poppins", sans-serif;
    /* background-color: #f4f4f4; */
    background: rgb(255,253,253);
    background: linear-gradient(135deg, rgba(255,253,253,1) 0%, rgba(200,168,168,1) 48%, rgba(57,41,41,1) 100%);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.5rem;
}

h1 {
    margin: 20px auto;

    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 40px;
}

.card {
    width: 33%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    /*Something*//*Something*//*justify-content: center;
    align-items: center;
    */
    transition: 1s;
}

img {
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    object-fit: cover;
}

.card:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);
}

.card:hover img{
    filter: grayscale(0);
}

figcaption {
    position: absolute;
    bottom: 0;
    /* width: fit-content; */
    height: 16%;
    background: linear-gradient(0deg, rgba(0,0,0, 0.2) 0% ,  rgba(255, 255, 255, 0) 100%);
    color: #fff;
    padding: 25px;
    opacity: 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}


.card:hover figcaption {
    opacity: 1;
    /*bottom: 40%;
    */transform: translateY(-50%) rotate(360deg);
    transition: 1.2s;
}

